.block-photo {
    width: 100% !important;
}

.icons-photo {
    width: 100px !important;
}


.remove-button {
    background-color: red;
    color: white;
    width: 30px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}
